 --- 
:timeout: 60
:log_level: info
:workers: 12
:orm: datamapper
:database: 
  :database: simulate
  :adapter: mysql
  :host: localhost
  :user: test
  :password: 
:pid_file: cascade.pid
:models: 
- ../target.rb
:log_file: cascade.log
:socket: updater.sock
:tcp: 8080
:udp: 8081 # generally only use one of these
:host: localhost
